
*{
  margin:0;
  padding:0;
  color:white;
}
.header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header img{
  max-width:500px;
}
.header h1{
  margin-top:-20px;
  margin-bottom:40px;
}
.page{
  background-color: rgb(32, 33, 36);
}
.character-list{
  display:flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.character{
  border:1px solid white;
  border-radius: 10px;
  padding:15px;
  margin:50px;
  width:700px;
  display:flex;
  flex-direction: column;
  margin:20px; 
  background-color: rgb(32, 33, 36);
}
.character p{
  font-size:20px;
}
.character:hover{
  cursor: pointer;
}
.character > *{
  padding:20px;
}
.character h2{
  text-align: center;
}
.location-info{
  margin-top:15px;

}
.character-info img{
  margin-right:25px;
}
.closed > .character-info > img{
  display:none;
}
.closed > .character-info > div {
  display:flex;
  justify-content: space-between;
}
.closed > .character-info > div > .location-info{
  display:none;
}
.character h2{
  font-size:26px;
}
.location-info h3{
  font-size:22px;
}
.location-info p{
  margin:5px 0;
}
.open > .character-info{
  display:flex
}
.alive{
  color:green;
}
.dead{
  color:red;
}